.cart-table {
  width: 30vw;
  background-color: #25252f;
  color: white;
  position: fixed;
  inset: 0 0 0 auto;
  display: grid;
  grid-template-rows: 132px 1fr 71px 53px;
  transition: transform 0.5s;
  transform: translateX(30vw);
  z-index: 1000;
}

.cart-table h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 1000;
  text-align: center;
  font-size: 44px;
  font-family: "Chilanka";
  color: #41403e;
  background: #eeebe5;
}
.cart-Btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart-Btn button {
  background-color: yellow;
  border: none;
  cursor: pointer;
  color: #41403e;
  font-family: "Chilanka";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.34px;
}
.cart-Btn .closeTable {
  background-color: white;
}
button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}
.cart-item img {
  width: 69%;
}
.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 69px 70px;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 20px 14px;
}
.cart-quantity {
  display: flex;
  justify-content: space-between;
  gap: 3px;
}
.cart-quantity span {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: wheat;
  color: #000;
  border-radius: 10%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.cart-quantity span:nth-child(2) {
  background-color: transparent;
  color: white;
}
.cart-quantity span:nth-child(even) {
  background-color: #eee1;
}
.list-productCart {
  display: flex;
  flex-direction: column;
  overflow: auto;
  .product-name {
    color: #ddd5c5;
    font-family: "Chilanka";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.26px;
  }
}
.list-productCart::-webkit-scrollbar {
  width: 0;
}
.wrapper.showcart {
  overflow: hidden;
}

.wrapper.showcart .cart-table {
  transform: translateX(0);
  transition: transform 0.5s;
}

.wrapper:not(.showcart) .cart-table {
  transform: translateX(30vw);
}
.cart-item:nth-child(odd) {
  background-color: #41403e; /* Màu cho vị trí lẻ */
}
#totalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}
.cart-item .deleteProduct {
  display: flex;
  width: 74px;
  height: 20px;
  background-color: wheat;
  color: #000;
  border-radius: 10%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
