.petFootdies-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.petFootdies-product-detail {
  border: 1px solid #ddd;
  text-align: center;
}

.petFootdies-img {
  //   max-width: 100%;
  //   height: auto;
}
@media (max-width: 768px) {
  .petFootdies-product {
    grid-template-columns: repeat(2, 1fr);
  }
}
