.header-top {
  width: 100%;
  height: 57px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 3%;
}
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  &-title {
    color: #41403e;
    font-family: "Chilanka";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.05px;
    text-transform: uppercase;
  }
  &-index {
    color: #a3a2a1;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: capitalize;
  }
}

.header-search {
  width: 30vw;
  padding: 16px 0px 16px 25px;
  color: #908f8d;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-color: #80808042;
  border-radius: 5px;
}
.search-wrapper {
  position: relative;
}

.search-icon-wrapper {
  position: absolute;
  top: 50%;
  right: 10px; /* hoặc giá trị phù hợp để điều chỉnh vị trí icon */
  transform: translateY(-50%);
  cursor: pointer;
}
.header-phone {
  margin-left: 131px;
  margin-right: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  &-text {
    color: #908f8d;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  &-number {
    color: #41403e;
    font-family: "Chilanka";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.19px;
  }
}
.header-botton {
  width: 100vw;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 12vw 47vw 12vw;
  align-items: center;
  justify-content: space-between;
}
.header-categories-selection {
  color: #41403e;
  font-family: "Chilanka";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.19px;
  text-transform: capitalize;
  border: none;
  width: 100%;
  height: 21px;
}
.header-menu {
  &-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 auto;
  }
  &-link {
    text-decoration: none;
    color: #41403e;
    font-family: "Chilanka";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.19px;
    text-transform: capitalize;
  }
  &-item {
    list-style: none;
  }
}
.header-authen {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  #img {
    width: 29px;
    height: 29px;
  }
}
.header-menu-item:hover .header-menu-link {
  color: #e74c3c;
}
.sigupButton,
.sigoutButton {
  padding: 10px 45px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s;
}

.sigupButton {
  background-color: #4caf50;
  color: #fff;
}

.sigoutButton {
  background-color: #f44336;
  color: #fff;
}

.sigupButton:hover,
.sigoutButton:hover {
  background-color: #45a049;
}
.email-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.emailImg {
  width: 3vw;
  border-radius: 50%;
}
.emailDisplay {
  color: #41403e;
  font-family: "Chilanka";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icon-cart {
  position: relative;
}
.icon-cart span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: #f44336;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: -63%;
  right: -37%;
}
