.type {
  &-container {
    display: flex !important;
    width: 1300px;
    justify-content: space-between;
    align-items: flex-start;
    display: block;
    margin: 0 auto;
    flex-direction: row;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  &-text {
    color: #41403e;
    font-family: "Chilanka";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.26px;
  }
}
